{% extends "layout.html" %}
{% block main %}
<div class="form2">
  <form action="/check2" method="post">
      <div class="head">
          <input type="radio" name="answer" value="{{ answer }}" id="a{{ answer }}" checked style="display: none;">
          <div class="up2">
            <h1><label for="a{{ answer }}"><img src="/static/img/{{ picture }}" alt="">Как собрать {{ name }}?</label> </h1><br>
          </div>
      </div>
      <hr>
      <div class="items">
          {% for item in order %}
          <div class="card hard" style="width: 9rem;">
              <img src="/static/img/{{ items[item].pic }}" class="card-img-top" alt="Не загрузилась(">
              <div class="card-body2">
                <div class="card-body">
                    <p class="card-text"><input type="checkbox" style="display: none;" name="{{ item }}" id="item{{ item }}" value=""><label for="item{{ item }}">{{items[item].name }} </label></p>
                </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <input type="radio" name="version" value="{{ version }}" id="a{{ version }}" checked style="display: none;">
      <button type="submit">send</button>
  </form>
</div>
{% endblock %}